/*.rickshaw_graph*/
  /*width 100%*/
  /*height @width * */
/*.d3-demo*/
  /*height 200px*/
  /*width 100%*/

/*.bar*/
  /*display inline-block*/
  /*width 20px*/
  /*background-color #008080*/
  /*margin-right 2px*/

/*#vitals-chart*/
  /*circle*/
    /*fill yellow*/
    /*stroke orange*/

/*.axis*/
  /*path*/
  /*line*/
    /*fill none*/
    /*stroke black*/
    /*shape-rendering crispEdges*/
  /*text*/
    /*font-family sans-serif*/
    /*font-size 11px*/
