.new-measurement-form
  /*border 1px solid black*/
  margin-bottom 10px
  form
    margin-bottom 10px

.form-inline
  @media (min-width $screen-sm-min)
    .new-measurement-datetime
      width 18%
      > input
        width 100%

    .new-measurement-number
      width 13%
      > input
        width 100%
