/*.form-inline*/
  /*@media (min-width $screen-sm-min)*/
    /*.new-measurement-measured-at*/
      /*width 50%*/

    /*.new-measurement-temperature*/
      /*width 10%*/

    /*.new-measurement-pulse*/
      /*width 10%*/

    /*.new-measurement-sbp*/
      /*width 10%*/

    /*.new-measurement-dbp*/
      /*width 10%*/

    /*.new-measurement-respirations*/
      /*width 10%*/

    /*.new-measurement-saturation*/
      /*width 10%*/
