<div class="row marketing">
  <form role="form" id="loginform" action="/sessions" method="post" accept-charset="utf-8">
    <input type="hidden" name="_method" value="post">
    <h1>Sign In</h1>
    <div class="form-group">
      <label for="loginform-email">Email address</label>
      <input type="text" class="form-control" id="loginform-email" name="email" placeholder="Enter email" autofocus/>
    </div>
    <div class="form-group">
      <label for="loginform-password">Password</label>
      <input type="password" class="form-control" id="loginform-password" name="password" placeholder="Password" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
