<td><input name="date" class="date-input" type="datetime" /></td>
<td><input name="time" class="time-input" type="datetime"/></td>
<td><input name="temperature" class="temperature-input" type="number"/></td>
<td><input name="pulse" class="pulse-input" type="number"/></td>
<td><input name="sbp" class="sbp-input" type="number"/></td>
<td><input name="dbp" class="dbp-input" type="number"/></td>
<td><input name="respirations" class="respirations-input" type="number"/></td>
<td><input name="saturation" class="saturation-input" type="number"/></td>