<td class="date-input"><input class="measurement-input" name="measuredAt" data-view-name="date" data-picker="date" type="datetime" /></td>
<td class="time-input"><input class="measurement-input" name="measuredAt" data-view-name="time" data-picker="time" type="datetime"/></td>
<td class="temperature-input"><input class="measurement-input" name="temperature" type="number"/></td>
<td class="pulse-input"><input class="measurement-input" name="pulse" type="number"/></td>
<td class="sbp-input"><input class="measurement-input" name="sbp" type="number"/></td>
<td class="dbp-input"><input class="measurement-input" name="dbp" type="number"/></td>
<td class="respirations-input"><input class="measurement-input" name="respirations" type="number"/></td>
<td class="saturation-input"><input class="measurement-input" name="saturation" type="number"/></td>
