---
layout: standard_layout.hbs
---
<div id="vitals-app">
    {{!--<table id="vitals-form-table" class="table">--}}
        {{!--<thead>--}}
        {{!--<tr>--}}
            {{!--<td>Date</td>--}}
            {{!--<td>Time</td>--}}
            {{!--<td>Temp</td>--}}
            {{!--<td>Pulse</td>--}}
            {{!--<td>SBP</td>--}}
            {{!--<td>DBP</td>--}}
            {{!--<td>Resp</td>--}}
            {{!--<td>Sat</td>--}}
        {{!--</tr>--}}
        {{!--</thead>--}}
        {{!--<tbody>--}}
        {{!--<tr id="measurement-input">--}}
        {{!--<td><input id="measurement-date-input" type="text"/></td>--}}
        {{!--<td><input id="measurement-time-input" type="text"/></td>--}}
        {{!--<td><input id="temperature-input" type="text"/></td>--}}
        {{!--<td><input id="pulse-input" type="text"/></td>--}}
        {{!--<td><input id="sbp-input" type="text"/></td>--}}
        {{!--<td><input id="dbp-input" type="text"/></td>--}}
        {{!--<td><input id="respirations-input" type="text"/></td>--}}
        {{!--<td><input id="saturation-input" type="text"/></td>--}}
        {{!--</tr>--}}
        {{!--</tbody>--}}
    {{!--</table>--}}
    <table id="vitals-table" class="table">
        <thead>
            <tr>
                <td>Date</td>
                <td>Time</td>
                <td>Temp</td>
                <td>Pulse</td>
                <td>SBP</td>
                <td>DBP</td>
                <td>Resp</td>
                <td>Sat</td>
            </tr>
        </thead>
        <tbody>
            {{!--<tr id="measurement-input">--}}
                {{!--<td><input id="measurement-date-input" type="text"/></td>--}}
                {{!--<td><input id="measurement-time-input" type="text"/></td>--}}
                {{!--<td><input id="temperature-input" type="text"/></td>--}}
                {{!--<td><input id="pulse-input" type="text"/></td>--}}
                {{!--<td><input id="sbp-input" type="text"/></td>--}}
                {{!--<td><input id="dbp-input" type="text"/></td>--}}
                {{!--<td><input id="respirations-input" type="text"/></td>--}}
                {{!--<td><input id="saturation-input" type="text"/></td>--}}
            {{!--</tr>--}}
        </tbody>
    </table>
</div>