---
layout: standard_layout.hbs
---
<div id="vitals-app">
    <div id="vitals-chart"></div>
  {{!--<table id="vitals-form-table" class="table">--}}
  {{!--<thead>--}}
  {{!--<tr>--}}
  {{!--<td>Date</td>--}}
  {{!--<td>Time</td>--}}
  {{!--<td>Temp</td>--}}
  {{!--<td>Pulse</td>--}}
  {{!--<td>SBP</td>--}}
  {{!--<td>DBP</td>--}}
  {{!--<td>Resp</td>--}}
  {{!--<td>Sat</td>--}}
  {{!--</tr>--}}
  {{!--</thead>--}}
  {{!--<tbody>--}}
  {{!--<tr id="measurement-input">--}}
  {{!--<td><input id="measurement-date-input" type="text"/></td>--}}
  {{!--<td><input id="measurement-time-input" type="text"/></td>--}}
  {{!--<td><input id="temperature-input" type="text"/></td>--}}
  {{!--<td><input id="pulse-input" type="text"/></td>--}}
  {{!--<td><input id="sbp-input" type="text"/></td>--}}
  {{!--<td><input id="dbp-input" type="text"/></td>--}}
  {{!--<td><input id="respirations-input" type="text"/></td>--}}
  {{!--<td><input id="saturation-input" type="text"/></td>--}}
  {{!--</tr>--}}
  {{!--</tbody>--}}
  {{!--</table>--}}
    <table id="vitals-table" class="table vitals-table">
        <colgroup>
            <col class="measurement-date-col"/>
            <col class="measurement-time-col"/>
            <col class="measurement-temperature-col"/>
            <col class="measurement-pulse-col"/>
            <col class="measurement-sbp-col"/>
            <col class="measurement-dbp-col"/>
            <col class="measurement-respirations-col"/>
            <col class="measurement-saturation-col"/>
            <col class="button-col"/>
            <col class="button-col"/>
        </colgroup>
        <thead>
        <tr>
            <td>Date</td>
            <td>Time</td>
            <td>Temp</td>
            <td>Pulse</td>
            <td>SBP</td>
            <td>DBP</td>
            <td>Resp</td>
            <td>Sat</td>
        </tr>
        </thead>
        <tbody></tbody>
      {{!--<tbody>--}}
      {{!--<tr id="measurement-input">--}}
      {{!--<td><input id="measurement-date-input" type="text"/></td>--}}
      {{!--<td><input id="measurement-time-input" type="text"/></td>--}}
      {{!--<td><input id="temperature-input" type="text"/></td>--}}
      {{!--<td><input id="pulse-input" type="text"/></td>--}}
      {{!--<td><input id="sbp-input" type="text"/></td>--}}
      {{!--<td><input id="dbp-input" type="text"/></td>--}}
      {{!--<td><input id="respirations-input" type="text"/></td>--}}
      {{!--<td><input id="saturation-input" type="text"/></td>--}}
      {{!--</tr>--}}
      {{!--</tbody>--}}
    </table>
</div>
{{!--<div class="container-fluid">--}}
    {{!--<div class="row">--}}
        {{!--<div class="col-xs-1 col-xs-offset-2">--}}
            {{!--1--}}
        {{!--</div>--}}
        {{!--<div class="col-xs-1">--}}
            {{!--2--}}
        {{!--</div>--}}
        {{!--<div class="col-xs-1">--}}
            {{!--3--}}
        {{!--</div>--}}
        {{!--<div class="col-xs-1">--}}
            {{!--4--}}
        {{!--</div>--}}
        {{!--<div class="col-xs-1">--}}
            {{!--5--}}
        {{!--</div>--}}
        {{!--<div class="col-xs-1">--}}
            {{!--6--}}
        {{!--</div>--}}
        {{!--<div class="col-xs-1">--}}
            {{!--7--}}
        {{!--</div>--}}
        {{!--<div class="col-xs-1">--}}
            {{!--8--}}
        {{!--</div>--}}
    {{!--</div>--}}
{{!--</div>--}}
